<h1>Flats#edit</h1>
<p>Find me in app/views/flats/edit.html.erb</p>
<%= simple_form_for(@flat) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :price %>
    <%= f.input :location %>
    <%= f.submit %>
  <% end %>

