<div style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url('https://res.cloudinary.com/rafxss/image/upload/v1599601770/il_1588xN.1672457821_8zt7_vlfqwf.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;">
  <div class="container text-center text-white shadow-sm">
    <div style="padding: 75px 0px;">
      <h1 style="align-content: center; text-shadow: 2px 2px 10px #000000;">My Reservations</h1>
    </div>
  </div>
</div>

<br>

<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="host-tab" data-toggle="tab" href="#host" role="tab" aria-controls="host" aria-selected="true">Host</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="guest-tab" data-toggle="tab" href="#guest" role="tab" aria-controls="guest" aria-selected="false">Guest</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="host" role="tabpanel" aria-labelledby="host-tab">
      <div class="justify-content-center">
        <% if @host_reservations.empty? %>
          <h1 class="text-center"style="align-content: center;">You have no requested reservations 😅</h1>
        <% else %>
          <div class="justify-content-center">
            <% @host_reservations.each do |reservation| %>
              <div class="card mb-3 mr-auto ml-auto" style="max-width: 600px; border-radius: 15px;">
                <div class="row no-gutters">
                  <div class="col-xs-5 col-md-4">
                      <img src="<%= cl_image_path reservation.flat.photos.first.key, height: 500, width: 500, crop: :fill, class: "d-block" %>" class="card-img h-100" alt="..." style="border-radius: 14px; object-fit: cover;">
                  </div>
                  <div class="col-xs-7 col-md-8">
                    <div class="card-body h-100 ml-3 mr-2">
                      <div class="d-flex flex-column align-content-between" style="height: 100%;">
                        <div class="mb-auto">
                          <h3 class="text-center mb-4"style="align-content: center">Reservation info</h3>
                          <h6 class="card-title"><i class="fa fa-calendar-alt fa-lg mr-2 color-pet"></i><strong>Start date:</strong> <%= reservation.reservation_start.strftime("%m/%d/%Y") %></h6>
                          <h6 class="card-title mb-4"><i class="fa fa-calendar-alt fa-lg mr-2 color-pet"></i><strong>End date:</strong>  <%= reservation.reservation_end.strftime("%m/%d/%Y") %></h6>
                          <% if reservation.status == "pending" %>
                            <div class="p-2 bg-warning rounded text-center text-white" style="opacity: 0.8;"><strong>Pending</strong></div>
                          <% elsif reservation.status == "approved"  %>
                            <div class="p-2 bg-success rounded text-center text-white" style="opacity: 0.8;"><strong>Approved</strong></div>
                          <% else %>
                            <div class="p-2 bg-danger rounded text-center text-white" style="opacity: 0.8;"><strong>Rejected</strong></div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="guest" role="tabpanel" aria-labelledby="guest-tab">
      <div class="justify-content-center">
        <% if @guest_reservations.empty? %>
          <h1 class="text-center"style="align-content: center;">You have no requested reservations 😅</h1>
        <% else %>
          <div class="justify-content-center">
            <% @guest_reservations.each do |reservation| %>
              <div class="card mb-3 mr-auto ml-auto" style="max-width: 600px; border-radius: 15px;">
                <div class="row no-gutters">
                  <div class="col-xs-5 col-md-4">
                      <img src="<%= cl_image_path reservation.flat.photos.first.key, height: 500, width: 500, crop: :fill, class: "d-block" %>" class="card-img h-100" alt="..." style="border-radius: 14px; object-fit: cover;">
                  </div>
                  <div class="col-xs-7 col-md-8">
                    <div class="card-body h-100 ml-3 mr-2">
                      <div class="d-flex flex-column align-content-between" style="height: 100%;">
                        <div class="mb-auto">
                          <h3 class="text-center mb-4"style="align-content: center">Reservation info</h3>
                          <h6 class="card-title"><i class="fa fa-calendar-alt fa-lg mr-2 color-pet"></i><strong>Start date:</strong> <%= reservation.reservation_start.strftime("%m/%d/%Y") %></h6>
                          <h6 class="card-title mb-4"><i class="fa fa-calendar-alt fa-lg mr-2 color-pet"></i><strong>End date:</strong>  <%= reservation.reservation_end.strftime("%m/%d/%Y") %></h6>
                          <% if reservation.status == "pending" %>
                            <div class="p-2 bg-warning rounded text-center text-white" style="opacity: 0.8;"><strong>Pending</strong></div>
                          <% elsif reservation.status == "approved"  %>
                            <div class="p-2 bg-success rounded text-center text-white" style="opacity: 0.8;"><strong>Approved</strong></div>
                          <% else %>
                            <div class="p-2 bg-danger rounded text-center text-white" style="opacity: 0.8;"><strong>Rejected</strong></div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
