<div style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url('https://res.cloudinary.com/rafxss/image/upload/v1599601770/il_1588xN.1672457821_8zt7_vlfqwf.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;">
  <div class="container text-center text-white shadow-sm">
    <div style="padding: 75px 0px;">
      <h1 style="align-content: center; text-shadow: 2px 2px 10px #000000;">My Reservations</h1>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="justify-content-center">
    <% if current_user%>
    <div class="mb-3 mr-auto ml-auto" style="max-width: 600px;">
      <div>
      </div>
    </div>
    <% end %>
  <% if @reservations.empty? %>
    <h1 class="text-center"style="align-content: center;">You have no reservations 😅</h1>
  <% else %>
  <div class="justify-content-center">
    <% @reservations.each do |reservation| %>
    <div class="card mb-3 mr-auto ml-auto" style="max-width: 600px; border-radius: 15px;">
      <%= link_to reservation_path(reservation), class: "text-decoration-none color-link-none" do %>
        <div class="row no-gutters">
          <div class="col-4 col-md-4">
            <img src="<%= cl_image_path reservation.flat.photos.first.key, height: 500, width: 500, crop: :fill, class: "d-block" %>" class="card-img" alt="..." style="border-top-left-radius: 15px; border-bottom-left-radius: 15px; border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
          </div>
          <div class="col-8 col-md-8">
            <div class="card-body h-100">
              <div class="d-flex flex-column align-content-between" style="height: 100%;">
                <div class="mb-auto">
                  <h3 class="text-center"style="align-content: center">Reservation info</h3>
                  <h6 class="card-title"><i class="fa fa-calendar-alt fa-2x mr-2 color-pet"></i>Start: <%= reservation.reservation_start %></h6>
                  <h6 class="card-title mr-2"><i class="fa fa-calendar-alt fa-2x mr-2 color-pet"></i>End:  <%= reservation.reservation_end %></h6>

                  <!-- USE A CONDITIONAL STATEMENT TO DISPLAY DIFFERENT VIEW FOR: PENDING, APROVED, REJECTED -->

                  <!-- <h5 class="card-title"><%= reservation.status %></h5> -->

                  <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="For more information contact the owner!"><%= reservation.status %></button>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
<% end %>
</div>
</div>
